// you can change colors here

// https://theme-hope.vuejs.press/config/style.html#color-config


$navbar-height: 3.75rem;
$navbar-horizontal-padding: 1.5rem;
$navbar-vertical-padding: 0.7rem;

$navbar-mobile-height: 3.25rem;
$navbar-mobile-horizontal-padding: 1rem;
$navbar-mobile-vertical-padding: 0.5rem;

$font-family: '-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", STHeiti, "Microsoft YaHei", SimSun, sans-serif';
$font-family-heading: 'Georgia Pro, Crimson, Georgia, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", STHeiti, "Microsoft YaHei", SimSun, sans-serif';


$theme-color: #68004b;

$text-color: (
    light: #24121d,
    dark: #f4d9ea,
);

// 背景颜色
$bg-color: (
  light: #fff8fc,
  dark: #12010d,
);

// 标签鼠标经过
$bg-color-secondary: (
    light: rgba(104, 0, 75, 0.08),
    dark: rgba(104, 0, 75, 0.3),
);

// 按钮鼠标经过
$bg-color-tertiary: ( 
    light: rgba(104, 0, 75, 0.16),
    dark: rgba(104, 0, 75, 0.6),
);

// 边界线
$border-color: (
  light: rgba(104, 0, 75, 0.18),
  dark: rgba(255, 181, 223, 0.18),
);

// constants
$black: (
  light: #000,
  dark: #fff,
);
