
// https://vuepress.vuejs.org/zh/config/#palette-styl

// 颜色
$accentColor = #ff99e2 // 强调色
$textColor = #28001e // 文本色
$borderColor = #ff00aa // 边界色
$codeBgColor = #282c34 // 代码背景色
$arrowBgColor = #ccc // 箭头背景色
$badgeTipColor = #42b983 // 标记提示色
$badgeWarningColor = darken(#ffe564, 35%) // 标记警告色
$badgeErrorColor = #DA5961 // 标记错误色

// 布局
$navbarHeight = 3.6rem // 导航栏高度
$sidebarWidth = 20rem // 侧边栏宽度
$contentWidth = 740px // 内容宽度
$homePageWidth = 960px // 主页宽度

// 响应式变化点
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px
